/* #region defaults */
body {
  line-height: 1.5;
  font-family: sans-serif;
  color: #212121;
  padding: 25px;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.container {
  max-width: 960px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  padding: 0 16px;
}
/* #endregion defaults */

.page-title {
  text-align: center;
}
.benef-list {
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
}
.benef-item {
  padding: 16px;
  flex-basis: 250px;
  border: 1px solid tomato;
}
